[submodule "external/uvw"]
	path = external/uvw
	url = https://github.com/skypjack/uvw.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
[submodule "ldn_mitm_src/Atmosphere-libs"]
	path = ldn_mitm_src/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
